
.inicio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background-color: #000000;
    color: #333;
    text-align: center;
}

.inicio-content {
    max-width: 800px;
}

.inicio-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.inicio-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.inicio-button, .sobre-nosotros-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #000000;
    background-color: #fffd00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inicio-button:hover, .sobre-nosotros-button:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de servicios destacados */
.servicios-destacados {
    margin-top: 4rem;
}

.servicios-destacados h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.servicios-cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilos para la sección sobre nosotros */
.sobre-nosotros {
    margin-top: 4rem;
}

.sobre-nosotros h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sobre-nosotros p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
